{% extends '@anunWeb/Layout/base.html.twig' %}
{% block style %}
{% endblock %}
{% block body %}
    <div class="about-us-header">
        <img src="{{ asset('resources/web/images/aboutus.jpg') }}">
    </div>
    <div id="about-us">
        <div class="about-us-2 about-us-body  text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12  wow bounceIn">
                        <div class="section">
                            <h2 class="aboutus-header">CLEARANCE</h2>
                            <p class="aboutus-header-p">
                                Одоогоор мэдээлэл бүрэн ороогүй байна.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}