{% extends '@anunWeb/Layout/base.html.twig' %}
{% block style %}
{% endblock %}
{% block body %}
    <div class="service-1 mid-level-padding text-center"
         style="background-color: #141414;padding: 0;padding-bottom: 50px;padding-top: 50px">

        <div class="row">
            <div class="col-sm-6 wow slideInLeft animated zuragnuud"
                 style="visibility: visible; animation-name: slideInLeft;">
                <img src="{{ asset('resources/web/images/sofa.png') }}" class="img-responsive" alt="Сандал"
                     style="width: 100%">
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4 home-geriin-tavilga">
                <div class="right-section wow slideInRight animated"
                     style="visibility: visible; animation-name: slideInRight;">
                    <div class="outer-bound">
                        <div class="left-section">

                            <div class="feature">
                                <div class="row">
                                    <div class="home-geriin-tavilga-header">
                                        <h2>
                                            Гэрийн Тавилга
                                        </h2>
                                    </div>
                                    <div class="home-geriin-tavilga-body">
                                        <p>
                                            АНУН дэлхийн зах зээлээс хамгийн
                                            сайн чанарын гэр ахуйн тавилгыг
                                            сонгон Монголын хэрэглэгчдэд гэрээ бүрэн тохижуулах шийдлүүдийг
                                            хүргэдэг.
                                        </p>

                                        <a href="{{ path('ger') }}">
                                            <i class="fa fa-chevron-circle-down">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}