{% extends '@anunWeb/Layout/base.html.twig' %}
{% block style %}
{% endblock %}
{% block body %}
    <div class="about-us-header">
        <img src="{{ asset('resources/web/images/aboutus.jpg') }}">
    </div>
    <div id="about-us">
        <div class="about-us-2 about-us-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12  wow bounceIn">
                        <div class="section">
                            <h2 class="aboutus-header">ҮЙЛЧИЛГЭЭ</h2>
                            <p class="aboutus-header-p">

                            <h5 style="margin-bottom: 20px;color: #000">Тавилгын шийдэл гаргах, зураг зурж өгөх үйлчилгээ</h5>


                            <ul style="list-style: circle;margin-left: 50px;margin-bottom: 20px">
                                <li> Харилцагчдаа албан тасалгааны тавилгын байршлын план болон интерьер төлөвлөлтийн
                                    зөвлөгөө өгнө
                                </li>
                                <li> Борлуулалтын ажилтанууд харилцагч, худалдан авагч дээр биечлэн очин уулзаж
                                    тавилгынхаа танилцуулгыг хийх болон захиалга авна
                                </li>
                                <li> Тавилгыг харилцагчийнхаа хүссэн хэмжээ загварын дагуу богино хугацаанд өөрийн
                                    үйлдвэртээ хийх болон гадаадын бусад үйлдвэрүүдээс импортлон нийлүүлнэ
                                </li>
                            </ul>

                            <h5 style="margin-bottom: 20px;color: #000"> Хүргэх, угсрах, баталгаат засвар</h5>
                            <ul style="list-style: circle;margin-left: 50px;margin-bottom: 20px">
                                <li> Мэргэжлийн түгээлт угсралтын баг нь барааг тохирсон цаг хугацаанд үнэ төлбөргүйгээр
                                    хүргэн өгч угсарч, зургийн дагуу байршуулж өгнө.

                                </li>
                                <li> Бүтээгдэхүүний баталгаат хугацаа 2 жил байдаг.

                                </li>
                                <li> Баталгаат хугацааны механик бус эвдрэл гэмтэлийг үнэ төлбөргүй засаж өгнө.

                                </li>
                                <li> Баталгаат хугацаа дууссанаас хойших хугацаанд сэлбэг хэрэгсэлийг зах зээлийн үнээс
                                    доогуур богино хугацаанд нийлүүлж, засварлаж өгнө.
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}