<footer class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="breadcrumb">
                    <li><a href="{{ path('home') }}" class="page-scroll scroll">НҮҮР ХУУДАС</a></li>
                    <li><a href="{{ path('aboutus') }}" class="page-scroll scroll">БИДНИЙ ТУХАЙ</a></li>
                    <li><a href="#" class="page-scroll scroll">БҮТЭЭГДЭХҮҮН</a></li>
                    <li><a href="{{ path('service') }}" class="page-scroll scroll">ҮЙЛЧИЛГЭЭ</a></li>
                    <li><a href="{{ path('contactus') }}" class="page-scroll scroll">ХОЛБОО БАРИХ</a></li>
                </ul>
                <p>&copy; Зохиогчийн бүх эрх хуулиар хамгаалагдсан, АНУН ХХК 2017 он </p>
            </div>
        </div>
    </div>
</footer>